@model IdentitySample.Models.LoginViewModel

@{
    ViewBag.Title = "Iniciar sesión";
    string rootpath = HttpContext.Current.Request.ApplicationPath;
    if (rootpath == "/") { rootpath = ""; }
}

@*<h2>40.000 Primeros Empleos.</h2>*@
<br />
<hr />
<div class="row" style="margin-top:2em;">
    <div class="col-md-4 LOGOMIL">
        <div>
            <img src="@rootpath/Content/images/EsTalento.JPG" style="  width: 20em;  margin-top: 1em;  margin-left: 0em;">
        </div>
    </div>
    <div class="col-md-6">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
                @Html.AntiForgeryToken()
                <h2>Ingrese sus datos para comenzar.</h2>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Iniciar sesión" class="btn btn-default" />
                    </div>
                </div>
                @*<p>
                    @Html.ActionLink("Register a new user?", "Register")
                </p>
                <p>
                    @Html.ActionLink("Forget your password?", "ForgotPassword")
                </p>*@
            }
        </section>
    </div>
    @*<div class="col-md-4">
        @Html.Partial("_ExternalLoginsListPartial", new IdentitySample.Models.ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </       <section id="socialLoginForm">
    </div>*@
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}