@model IEnumerable<MilEmpleos.Models.ResultadoCalculadora>

@{
    ViewBag.Title = "VALIDACIÓN DE REQUISITOS MÍNIMOS DE LAS VACANTES";
    string rootpath = HttpContext.Current.Request.ApplicationPath;
    if (rootpath == "/") { rootpath = ""; }
}

<h2>@ViewBag.Title</h2>



<div>


    @if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Unidad") || User.IsInRole("Centros")))
    {
        <h3>Descargar reportes en Excel</h3>
        <div class="well">
            <div class="row">
            @if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Unidad")))
            {

                
                <div class="col-md-2">Centro de Empleo:</div>
                <div class="col-md-3">
                    <select id="lst_centros_empleo" onchange="obtenerURLExcel()">
                        
                            @foreach (var centroEmpleo in ViewBag.centroEmpleos)
                            {
                                <option value="@centroEmpleo.Id">@centroEmpleo.CentroEmpleo</option>
                            }
                    </select>

                </div>
                <script type="text/javascript">
                    function obtenerURLExcel() {
                        $('#p_URLExcel').html('<a href="/RespuestasCalculadoras/excelrespuestas?class=btn%20btn-danger&amp;p_idCentro=' + $('#lst_centros_empleo').val() + '">Descargar listado completo</a> | <a href="/RespuestasCalculadoras/ExcelconsultasPila?class=btn%20btn-danger&amp;p_idCentro=' + $('#lst_centros_empleo').val() + '">Descargar listado Consultas Pila</a>');
                        //$('#p_URLExcel').html('<a href="/40MilPrimerosEmpleos/RespuestasCalculadoras/excelrespuestas?class=btn%20btn-danger&amp;p_idCentro=' + $('#lst_centros_empleo').val() + '">Descargar listado completo</a> | <a href="/40MilPrimerosEmpleos/RespuestasCalculadoras/ExcelconsultasPila?class=btn%20btn-danger&amp;p_idCentro=' + $('#lst_centros_empleo').val() + '">Descargar listado Consultas Pila</a>');
                    }
                </script>
            }
            </div>
            <br />
            @if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Unidad")))
            {
            <p id="p_URLExcel">
                @Html.ActionLink("Descargar listado completo", "excelrespuestas", new { @class = "btn btn-danger", @p_idCentro = @ViewBag.primer_CE }) |
                @Html.ActionLink("Descargar listado Consultas Pila", "ExcelconsultasPila", new { @class = "btn btn-danger", @p_idCentro = @ViewBag.primer_CE })
            </p>
            }
            else if(Request.IsAuthenticated && (User.IsInRole("Centros")))
            {
                <p>
                    @Html.ActionLink("Descargar listado completo", "excelrespuestas", new { @class = "btn btn-danger", @p_idCentro = @ViewBag.id_centro_empleo }) |
                    @Html.ActionLink("Descargar listado Consultas Pila", "ExcelconsultasPila", new { @class = "btn btn-danger", @p_idCentro = @ViewBag.id_centro_empleo })
                </p>
            }

        </div>
    }

    <h3>Listado de validación de requisitos míminos de las vacantes</h3>
    <table border="1" class="table table-hover table-nomargin dataTable table-bordered ">
        <thead>
            <tr>
                <th>
                    Nit
                </th>
                <th>
                    Razón Social:
                </th>
                <th aria-sort="descending">
                    Fecha Registro
                </th>
                <th>
                    Descripcion
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.RespuestasCalculadora.Nit
                </td>

                <td>
                    @item.RespuestasCalculadora.RazonSocial
                </td>
                <td>
                    @item.RespuestasCalculadora.FechaRegistro.ToString(@"yyyy/MM/dd HH\:mm\:ss tt")
                </td>
                <td>
                    @if (@item.RespuestasCalculadora.DescripcionVacante.Length > 50)
                    {
                        @item.RespuestasCalculadora.DescripcionVacante.Substring(0, 50)
                    }
                    else
                    {
                        @item.RespuestasCalculadora.DescripcionVacante
                    }

                </td>

                <td>
                    <a class="btn btn-default btn-group-xs" id="descargarreporte" href="@rootpath/RespuestasCalculadoras/Index/@item.id.ToString()">Ver Resultado</a>
                </td>
            </tr>
        }

    </table>
</div>
