@model IEnumerable<MilEmpleos.Models.Centros>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CentroEmpleo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsers.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CentroEmpleo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.Address)
            @Html.DisplayFor(modelItem => item.AspNetUsers.UserName)
            @Html.DisplayFor(modelItem => item.AspNetUsers.Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
