@model MilEmpleos.Models.ResultadoCalculadora

@{
    ViewBag.Title = "Borrar calificación";
}

<h2>Estas seguro de borrar esta Calificación?</h2>

<h3>Antes de borrar alguna calificación es necesario cerciorarse que la misma se haya borrado del SISE </h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Total Capital Humano
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CapitalHumano)
        </dd>

        <dt>
            Total Características Empresa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaracteristicasEmpresa)
        </dd>

        <dt>
            Total Características Puesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaracteristicasPuesto)
        </dd>

        <dt>
            Total Calificación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            Centro de empleo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Centros.CentroEmpleo)
        </dd>

        <dt>
            Razón Social de la empresa:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RespuestasCalculadora.RazonSocial)
        </dd>

        <dt>
            Usuario Asesor centro: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUsers.UserName)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
        </div>
    }
</div>
