@model IEnumerable<MilEmpleos.Models.ResultadoCalculadora>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CapitalHumano)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CaracteristicasEmpresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CaracteristicasPuesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsers.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Centros.CentroEmpleo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RespuestasCalculadora.RazonSocial)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CapitalHumano)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaracteristicasEmpresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaracteristicasPuesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Centros.CentroEmpleo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RespuestasCalculadora.RazonSocial)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
